//--------------------------------------------------------------
// Global SCSS
//--------------------------------------------------------------

.bloom-post {
    background-color: #fafafa;
    padding: 40px;

    &__title {
        font-size: 18px;
        font-weight: bold;
    }

    &__role {
        font-size: 16px;
        font-style: italic;
    }

    &__bio {
        font-size: 16px;
    }

    &__tool {
        font-size: 14px;
    }

}
