//--------------------------------------------------------------
// SETTINGS
//--------------------------------------------------------------


//-----------------------------------------
// Media Queries
//-----------------------------------------
$mq-medium: 640px;
$mq-tablet: 768px;
$mq-full: 960px;
$mq-laptop: 1024px;
$mq-retina: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)';
